@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'PT Sans Narrow', sans-serif;
  
  /* border: none; */
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #ffffff;
  --second-bg-color: #08223c;
  --dark-color: #0F1422;
  --text-color: black;
  --main-color: #24a0cc ;
  --second-color: #0085b8;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}
