.container {
  padding: .5rem 0;
}

.container h3 {
  font-size: 1.5rem;
}

.content {
  display: flex;
  padding: 1rem 0;
  gap: 1rem;
}

.divCategory {
  background-color: #ebe6ff;
  border-radius: .4rem;
  flex: 70%;
  box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.1);
}

.divTab ul {
  display: flex;
  list-style: none;
}

.divTab li {
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition: background-color .3s;
  font-weight: 500;
}

.active {
  background-color: #332568;
  color: #ffffff;
  border-radius: .4rem;
}

.tabCategories {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tabCategories th {
  font-weight: bold;
  text-align: left;
  padding: 0 1rem;
}

.tabCategories td {
  border-bottom: .1rem solid #ccc;
  padding: .5rem 1rem;
  font-size: 1.3rem;
}

.tabCategories i{
  cursor: pointer;
  font-size: 1.5rem;
  transition: color .3s;
  padding: 1rem 1rem;
}

.editIcon:hover {
  color: #007BFF;
}

.deleteIcon:hover {
  color: #FF4136;
}

.tabCategories td:last-child {
  text-align: right;
}

/* Formulario */
.divForm {
  flex: 30%;
  border: .1rem solid #ccc;
  padding: 2rem;
  margin: 2rem;
  background-color: #fff;
  box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.1);
}

.divForm h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.divForm form {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin: 0 auto;
}

.divName,
.divParent {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.divForm label {
  font-weight: 600;
  margin-bottom: .5rem;
  color: #333;
}

.divForm input[type="text"],
.divForm select {
  padding: 1rem;
  border: .1rem solid #ccc;
  border-radius: .5rem;
  margin-bottom: 1rem;
}

.divBtns {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.divBtns input[type="button"],
.divBtns input[type="submit"] {
  padding: 1rem 2rem;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

.divParents ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.divParents li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: .1rem solid #ccc;
  padding: .5rem 1rem;
  margin: .5rem 0;
}

.divParents button {
  background-color: #FF4136;
  color: #fff;
  border: none;
  padding: .5rem 1rem;
  border-radius: .5rem;
  cursor: pointer;
}

.divParents button:hover {
  background-color: #D40E0A;
}