/* Estilo del Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(to right, #ffffff, #000000, #ffd700);
  /* Ajusta los colores según tus preferencias */

  padding: 1rem;
  color: #dd0000;
  border-bottom: #000000 3px solid;
}
/* Media query para pantallas pequeñas (móviles) */
@media only screen and (max-width: 768px) {
  .navbar {
    background: linear-gradient(to right, #000000, #ffffff, #ffd700);
    /* Ajusta los colores según tus preferencias */
  }
}

.cartCount {
  background-color: #dd0000;
  color: #ffffff;
  border-radius: 50%; /* Cambiado a 50% para hacerlo más redondo */
  font-size: 1.2rem; /* Ajustado el tamaño del texto */
  padding: 0.3rem 0.5rem; /* Añadido espaciado alrededor del número */
}

/* Estilo del Logo */
.logo img {
  width: 15rem;
}

/* Estilo del Menú de Navegación */
.menu ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos del menú se envuelvan en pantallas pequeñas */
  justify-content: center; /* Centra los elementos del menú en pantallas pequeñas */
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 1.8rem;
}

/* Estilo de las Redes Sociales */
.redesociales {
  display: flex;
  align-items: center;
}

.redesociales a {
  color: #272727;
  font-size: 1.5rem;
  margin-right: 10px; /* Espaciado entre los íconos de las redes sociales */
}

.redesociales a:hover {
  color: #00aced;
}

/* Estilo del Icono del Carrito */
/* Estilo del Carrito */
.cart {
  margin-right: 5rem; /* Añade espacio entre el carrito y las redes sociales */
}

.cart a {
  display: flex; /* Alinea los íconos del carrito verticalmente al centro */
  align-items: center;
  text-decoration: none;
  color: #272727;
  font-size: 1.6rem;
}
.icon {
  color: #000000;
  font-size: 2rem;
}

/* Media query para pantallas pequeñas (móviles) */
@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Cambia la dirección de los elementos a columna en pantallas pequeñas */
    text-align: center; /* Centra el contenido en pantallas pequeñas */
  }
  .menu {
    margin-bottom: 3rem;
  }

  .menu ul {
    margin-top: 1rem; /* Añade espacio entre el logo y el menú en pantallas pequeñas */
  }

 
}
/* Asegúrate de que itemsnav tenga display: flex y flex-wrap: nowrap */
.itemsnav {
  display: flex;
  flex-wrap: nowrap; /* No permite que los elementos se envuelvan en varias filas */
  align-items: center; /* Alinea los elementos verticalmente al centro */
}
