/* CSS Global */
.containerGlobal {
  position: sticky;
  top: 0;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9457f;
  padding: .2rem 5%;
  z-index: 100;
}
/* Estilos para el encabezado en modo "scroll" */


/* CSS Contenedor principal */
.container {
  
  background-color: #000000;
  margin-top: 1rem;
  
  margin-left: auto;
  margin-right: auto;
  display: block;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap; 
  /* Envolver los elementos si no caben en una línea */
}

.navContainer {
  background-color: #000000;
  width: 20%;
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.searchContainer {
  /* position: relative; */
 
  border: none !important;
  font-size: 2.5rem;
  color: #ffffff;
  background-color: #6648d1;
  
}

.resultItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.resultItem img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 2%;
}

.seeMore {
  color: #007bff;
  cursor: pointer;
  text-align: center;
}

/* CSS Logotipo */
.logo {
  margin-top: 2rem;
}
/* adlfhnpadilo */
.loginCart {

  color: #ffffff;
 
  background-color: #f9457f;
  font-size: 2rem !important; /* Tamaño de fuente más grande */
 
}


/* Agrega estilos para el encabezado fijo */

.logo {
  width: 15rem; /* Ancho de 100 píxeles */
  height: 6rem; /* Alto de 50 píxeles */
  margin-top: 0rem;
  margin-left: auto;
  margin-right: auto;
  
  display: block; /* Esto hará que el logo se comporte como un bloque centrado */
}
.nameProduct {
  font-size: 1.4rem;
  font-weight: 600;
  color: #000000;
  margin-left: 1rem;
}

.priceProduct {
  font-size: 1.4rem;
  font-weight: 500;
  color: #000000;
  margin-left: 1rem;
}

.menuPc {
  background-color: #f9457f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 15rem;
  /* padding: 1rem 2rem;  */
  /* Ajusta el relleno según sea necesario */
  /* Agrega otros estilos específicos para el menú en dispositivos más grandes */
}

.menuPc a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 1rem; 
  /* Ajusta el margen entre elementos de menú */
  font-size: 1.5rem; /* Tamaño de fuente para elementos de menú */
}

.menuOpen {
  background-color: #f9457f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0; /* Ajusta el relleno según sea necesario */
  /* Agrega otros estilos específicos para ocultar el menú en dispositivos más pequeños */
}

.menuOpen a {
  color: #ffffff;
  text-decoration: none;
  margin: 1rem 0; /* Ajusta el margen entre elementos de menú */
  font-size: 1.5rem; /* Tamaño de fuente para elementos de menú */
}

/* Estilos para el ícono del menú hamburguesa */

a {
  color: #ffffff;
  font-size: 1.5rem;
 
}



.icon {
  
  color: #ffffff;
  font-size: 2.5rem;
  display: inline-block; 
  /* Muestra los elementos en línea */
  margin-left: 1rem; 
  /* Ajusta el margen izquierdo para controlar el espacio entre los elementos */
}
.burger {
  display: none;
}




/* CSS Contenedor del campo de búsqueda */
.searchContainer {
  position: relative;
 
  font-size: 2rem;
  border: none !important; /* Elimina el borde */
  
  color: #ffffff;
  background-color: #f9457f;
  
}
.searchInput {
  font-size: 2rem;
  background-color: #000000;
  color: white;
}
.searchContainer::placeholder {
  color: #ffffff; /* Cambia el color del placeholder a rojo (#ff0000) */
}

/* CSS Campo de búsqueda */
.searchContainer input::placeholder {
  color: #ffffff;
  
}

/* Ventana emergente de resultados */
.searchResults {
  position: absolute;
  top: 3rem;
  right: 1%;
  width: 250px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 2;
  margin-top: 10px;
}

/* Ajusta el valor para tabletas */
@media screen and (max-width: 1024px) {
  .searchResults {
    right: 65%;
  }
}

/* Ajusta el valor para dispositivos móviles */
@media screen and (max-width: 768px) {

  .container {
    background-color: #f9457f;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    
  }

  .navContainer {
    padding-right: 20rem;
    width: 30%;
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
  }
  
  /* Asegura que el logo tenga un tamaño máximo y sea responsivo */
  .logo {
    margin-left: 10rem;
    max-width: 100%; /* Establece un ancho máximo para el logo */
    height: auto; /* Ajusta automáticamente la altura en función del ancho */
  }

  

  .menuPc {
    display: none;
  } 
  .searchResults {
    right: 10%;
  }
 .searchContainer {
    width: 10rem;
  
  }
  
  .searchContainer input::placeholder {
    color: #ffffff;
    padding-left: 1rem;
  }
  
  .icon {
    color: #ffffff;
    font-size: 2rem;
  
  }
  .burger {
    
    display: inline-flex;
    font-size: 2.2rem;
    color: white;
    cursor: pointer;
  }
  .menu-open .burger {
    color: #ffffff;
  }

  
 

 
  /* Mostrar el menú desplegable cuando el usuario hace clic en el ícono de hamburguesa */
  .nav {
    display: none;
  }

  /* Mostrar el menú desplegable cuando el usuario hace clic en el ícono de hamburguesa */
  .menu-open .nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    gap: 1rem;
    z-index: 1;
  }

  
  .menuHamburguesa ul {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el relleno predeterminado */
    padding-top: 5rem;
  }
  
  .menuHamburguesa li {
    margin: 0.5rem 0; /* Agrega espacio entre elementos de la lista */
  }
  
}


/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/

/* CSS Resultados de búsqueda */


/* CSS Barra de navegación */


/* Mostrar el menú desplegable cuando el usuario hace clic en el ícono de hamburguesa */



/* Agrega una clase cuando se debe realizar la animación */
.icon-added {
  animation: cart-icon-pulse 0.5s alternate ease infinite;
}

/* Define la animación */
@keyframes cart-icon-pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

/* Agrega una clase para mostrar el punto rojo cuando hay elementos en el carrito */
.cartCounter::after {
  content: ''; /* Agrega contenido antes o después del icono */
  background-color: red; /* Color del punto rojo */
  border-radius: 50%; /* Forma circular */
  width: 10px; /* Ancho del punto rojo */
  height: 10px; /* Altura del punto rojo */
  display: block; /* Muestra el punto como un bloque */
  position: absolute; /* Coloca el punto en una posición absoluta */
  top: 0; /* Alinea el punto en la parte superior */
  right: 0; /* Alinea el punto en la parte derecha */
  transform: translate(50%, -50%); /* Alinea el punto en la esquina superior derecha */
}