.container h2 {
  font-size: 2rem;
}

.productContainer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.list {
  flex-basis: 75%;
  border-radius: .5rem;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.1);
}

.list ul {
  display: flex;
  list-style: none;
}

.list ul li {
  cursor: pointer;
  padding: 1rem;
  font-weight: bold;
  transition: background-color 0.3s;
  font-size: 1.6rem;
}

.list ul li.selected {
  background-color: #f0f0f0;
}

.tableContainer table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.5rem;
}

.tableContainer td {
  border-bottom: .1rem solid #ccc;
}

.tableContainer th {
  font-weight: bold;
  background-color: #f0f0f0;
}

.tableContainer button {
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.tableContainer button:hover {
  background-color: #0056b3;
}

.preview {
  flex-basis: 25%;
  border-radius: .5rem;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.1);
}